body{
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: Sansation;
    background-color: #e8e8e8;
}

@font-face{
    font-family: Sansation;
    src:local("fonts/Sansation_Bold.ttf");
}

@font-face{
    font-family: Roboto-Light;
    src:local("fonts/Roboto-Light.ttf");
}

.header{
    background-color: #fff;
    color: #0a2004;
    font-weight: bold;
    font-size: 50px;
    box-shadow: 0 0 6px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
}

.content{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

.paral{
    min-width: 402px;
    max-width: 402px;
    padding: 0;
}

.parallelogram{
    width: 300px;
    height: 525px;
    transform: skew(-11deg);
    border-left: 10px solid #7dbd07;
    border-right: 10px solid #7dbd07;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(10,32,4,0.4);
}

.paral-img{
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 525px;
}

.paral-text1{
    position: relative;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    color: #0a2004;
    font-size: 20px;
    padding: 10px 0;
    box-shadow: 0 0 6px rgba(0,0,0,0.06), 0 6px 6px rgba(0,0,0,0.04);
}

.pl-30{
    padding-left: 30px;
}

.icons{
    height: 24px;
}

.link{
    color:#0a2004;
}

.link:hover{
    color: #7dbd07;
}